<h1>Edit Actor <%= @actore.id %></h1>

<form action="/update_actor/<%= @actore.id %>">
      <div>
    <label for="Name">
      Name
    </label>

    <input id="Name" type="text" name="the_name" value="<%= @actore.name %>">
  </div>
  
    <div>
    <label for="Bio">
      BIO
    </label>

    <textarea id="bio" name="the_bio" placeholder="Bio" class="form-control" rows="3"><%= @actore.bio %></textarea>
  </div>
  
  <div>
    <label for="Dob">
      DOB
    </label>

    <input id="Dob" type="text" name="the_dob" value="<%= @actore.dob %>">
  </div>

  <div>
    <label for="Image url">
      Image URL
    </label>

    <input id="Image url" type="text" name="the_image_url" value="<%= @actore.image_url %>">
  </div>
    
    <button>
    Update actor
  </button>
</form>
